---
import Component from '../content/CounterContent'

---
<h1>Home</h1>
<hr>
<h2>No hydration</h2>
<Component values={'false'} />
<hr>
<h2>Client:load</h2>
<Component values={'true'} client:load   />
<hr>

