---
import Component from '../content/CounterContent'
import Navbar from '../layouts/navbar.astro';

---

<!-- Implementacion de React Navbar -->
<Navbar title="Home" />
<!-- Display all of our components -->

<h1 class="text-2xl font-bold mb-4 mb-4 text-center">Home</h1>

<h2 class="text-2xl font-bold mb-4 mb-4 text-center">No hydration</h2>
<Component values={'false'} />

<h2 class="text-2xl font-bold mb-4 mb-4 text-center mt-5" >Client:load</h2>
<Component values={'true'} client:load/>



