---
import Component from '../content/CounterContent'

---
<h1>Home</h1>
<h3><--------------></h3>
<h2>No using island</h2>
<Component values={'false'} />
<h3><--------------></h3>
<h2>Client:load</h2>
<Component values={'true'} client:load   />
<h3><--------------></h3>
